html {
  background-color: var(--color-white);
  color: var(--color-black);
}

// html,
// body {
//   @include hide-scroll-bars;

//   &::-webkit-scrollbar {
//     appearance: none;
//     width: 0;
//     height: 0;
//   }
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
input,
textarea,
button,
select {
  font-family: $font-family;
}
