@import '~normalize.css/normalize.css';

@import './base';
@import './settings';

@import './colors';
@import './document';

.scene {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.scroll-down {
  margin: 0;

  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);

  font-size: 40px;
  color: var(--color-white);
}
